.result {
    margin-top: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.video-vid {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}